/*------------------------------------*\
    $l-header
\*------------------------------------*/
.l-header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 100vh;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}
    .hamburger{
        cursor: pointer;
        position: absolute;
        left: 20px;
        top: 10px;
        width: 40px;
        height: 40px;
        >span{
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            border-radius: 20px;
            background-color: #000000;
            transition: all 0.3s;
            &:first-child{
                top: 14px;
            }
            &:last-child{
                top: 24px;
            }
        }

        &.active{
            >span{
                &:first-child{
                    top: 18px;
                    transform: rotate(45deg);
                }
                &:last-child{
                    top: 18px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
    .logo{
        margin-top: 50px;
        display: block;
        color: #000000;
        font-size: 70px;
        font-weight: bold;
        >a{
            color: inherit;
            &:hover,&:active,&:focus{
                text-decoration: none;
            }
        }
    }
    .nav{
        margin-top: 60px;
    }
        .menu{
            display: inline-block;
            text-align: left;
        }
            .menu-item{
                +.menu-item{
                    margin-top: 20px;
                }
                >a{
                    display: block;
                    color: #000000;
                    &:hover,&:active,&:focus{
                        font-weight: bold;
                    }
                }
            }
    .community{
        position: absolute;
        bottom: 30px;
        width: 100%;
        font-size: 0;
        li{
            display: inline-block;
            +li{
                margin-left: 10px;
            }
            >a{
                display: block;
                font-size: 25px;
                color: #000000;
            }
        }
    }
@media screen and(max-width: 1199px){
    .l-header{
        width: 150px;
    }
}
@media screen and(max-width: 991px){
    .l-header{
        width: 100%;
        height: 60px;
    }
        .logo{
            margin-top: 0;
            line-height: 60px;
            font-size: 40px;
        }
        .nav{
            position: fixed;
            left: -200px;
            width: 200px;
            height: calc(100vh - 60px);
            margin-top: 0;
            padding-top: 60px;
            background-color: #ffffff;
            transition: all 0.3s;

            &.active{
                left: 0;
            }
        }
            .menu{
                display: inline-block;
                text-align: left;
            }
                .menu-item{
                    +.menu-item{
                        margin-top: 20px;
                    }
                    >a{
                        display: block;
                        color: #000000;
                        &:hover,&:active,&:focus{
                            font-weight: bold;
                        }
                    }
                }
        .community{
            bottom: 3px;
            right: 15px;
            width: auto;
        }
}


/*------------------------------------*\
    $l-main
\*------------------------------------*/
.l-main{
    margin-left: 200px;
}
.container{
    max-width: 100%;
}
.section-block{
    padding: 100px 0;
}
@media screen and(min-width: 1500px){
    .container{
        max-width: 85%;
    }
}
@media screen and(max-width: 1199px){
    .l-main{
        margin-left: 150px;
    }
}
@media screen and(max-width: 991px){
    .l-main{
        margin-left: 0;
    }
    .section-block{
        padding: 70px 0 30px 0;
    }
}
/*------------------------------------*\
    $l-footer
\*------------------------------------*/
.l-footer{
    margin-left: 200px;
}
    .footer-content{
        .l-flex;

        .logo{
            margin-top: 0;
        }
        .community{
            position: relative;
            bottom: 0;
            li{
                display: block;
                +li{
                    margin-top: 20px;
                    margin-left: 0;
                }
                >a{
                    display: block;                    
                    font-size: 1rem;
                }
            }
            .fa{
                margin-right: 5px;
            }
        }
    }
    .footer-link{
        .l-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
        .copyright{
            margin-top: auto;
            margin-bottom: 0;
        }
@media screen and(max-width: 1199px){
    .l-footer{
        margin-left: 150px;
    }
}
@media screen and(max-width: 991px){
    .l-footer{
        margin-left: 0;
    }
}
@media screen and(max-width: 767px){
    .l-footer{
        .section-block{
            padding: 10px 0 10px 0;
        }
    }
        .footer-content{
            display: block;
            text-align: center;

            .community{
                right: 0;
                li{
                    display: inline-block;
                    +li{
                        margin-top: 0;
                        margin-left: 15px;
                    }
                    >a{
                        display: block;                    
                        font-size: 1rem;
                    }
                }
                .fa{
                    margin-right: 5px;
                }
            }
        }
            .copyright{
                font-size: 10px;
            }
    
}
